body{
font-family:Arial;
margin:0
}

header{
background:#6a1b9a;
color:white;
text-align:center;
padding:20px;
font-size:30px;
}

.hero{
position:relative;
text-align:center;
color:white
}

.hero img{
width:100%;
height:400px;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:40px;
background:rgba(0,0,0,0.5);
padding:20px;
}

.about{
padding:40px;
text-align:center;
font-size:18px;
}

.image-track{
overflow:hidden;
white-space:nowrap;
background:#f2f2f2;
padding:20px;
}

.track img{
width:220px;
height:150px;
margin:10px;
border-radius:10px;
}

.box-container{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
}

.box{
width:300px;
border:2px solid black;
padding:20px;
border-radius:10px;
}

footer{
background:#333;
color:white;
display:flex;
justify-content:space-between;
padding:30px;
}